{% extends "base.twig" %}
{% block content %}
    {% for post in posts %}
        <div class="container">
            <h2>
                {{ post.post_title }}
            </h2>
            {{ post.content }}

            {{ blog_bottom_widget }}
        </div>
    {% endfor %}
{% endblock %}
