.header {
  .social-icons {
    @extend .list-unstyled;

    margin-bottom: 0;
    line-height: 1;
    display: flex;
    z-index: 20;

    li {
      margin-left: 30px;

      a {
        &:hover {
          opacity: 0.5;
        }
      }

      svg {
        width: 26px;
      }
    }
  }
}
