.container-fluid {
  max-width: 1398px;
}

.container-sm {
  max-width: 1078px;
}

.container-lg {
  max-width: 1360px;
}

.wp-block-group__inner-container {
  padding-top: 6rem;
  padding-bottom: 6rem;
}
